<style>
    h2 { text-align: center; }
   .pab { font-family: lobster; font-size: 35px; position: relative; top: -15px; text-align: center; }
   .pan { font-size: 25px; font-family: Raleway; }
   .imagedm { padding-left: 10px;  margin: 1.66%; }
   p > a { color: #ffb300; font-weight: bold; }
   p > a:hover { color: #fff; }
</style>
<div>
    <h2 class="h1new">We <i class="glyphicon glyphicon-heart" style="color: red;" ></i> <span style="color: #ff6f00">Creating things easy</span></h2>
    <p class="pab">Meet the Guys, Behind the eGurjan Website.</p>
    <br></br>
    
    <!--<div class="ui small sequenced images imagedm">-->
    <!--    <img src="http://semantic-ui.com/images/avatar2/large/matthew.png" class="ui circular image"></img>-->
    <!--    <p class="pan">Animesh Singh</p>-->
    <!--    <img src="http://semantic-ui.com/images/avatar2/large/matthew.png" class="ui circular image"></img>-->
    <!--   <a class="a" href="http://daksh.tech"> <p class="pan">Daksh Miglani</p> </a>-->
    <!--</div>-->
</div>  


<div class="about-promo">
    <div class="about-wrapper">
        <div class="row">
            <div class="col s12 m4 l4">
                <div class="about-dp-wrapper center">
                    <img src="https://goo.gl/9VLnxw" class="ui medium circular image"></img>
                    <h3 class="pan">Animesh Singh</h3>
                </div>
            </div>
            <div class="col s12 m8 l8">
                <div class="about-desc-wrapper z-depth-4">
                    <h4 class="titledm">About Animesh.</h4>
                    <p>Animesh Singh is the co-founder and CEO (Chief Executive Officer) of eGurjan Academy.</p>
                    <p>He is very passionate about teachings and believes in online tutoring and hence he is working on his dreams to help the local tutors to be connected with the students, online. He emphasis more on the fact that teachers should know more than a student, so should be the knowledge of computers and internet. It is a necessity and not a royalty.</p>
                    <p>You can learn more about Animesh Singh from his professional website, <%= link_to 'at www.animeshsingh.in', 'http://www.animeshsingh.in' %></p>
                    
                    <br></br>
                    <div class="about-connect left">
                        <a href="http://www.facebook.com/f4.animesh" class="ui circular facebook icon button">
                          <i class="facebook icon"></i>
                        </a>
                        <a href="http://www.twitter.com/animesh22singh" class="ui circular twitter icon button">
                          <i class="twitter icon"></i>
                        </a>
                        <!--<button class="ui circular linkedin icon button">
                          <i class="linkedin icon"></i>
                        </button>-->
                        <a href="https://plus.google.com/+AnimeshSinghweb" class="ui circular google plus icon button">
                          <i class="google plus icon"></i>
                        </a>
                    </div>
                    <br></br>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-promo abd2">
    <div class="about-wrapper">
        <div class="row">
            <div class="col s12 m4 l4 right">
                <div class="about-dp-wrapper center">
                    <img src="https://scontent.fmaa1-1.fna.fbcdn.net/v/t1.0-9/13226761_1618889298364513_4432057316849491387_n.jpg?oh=8169e215fa9cc7486f518e3e05db7108&oe=58925DFE" class="ui medium circular image"></img>
                    <h3 class="pan">Shalini Srivastava</h3>
                </div>
            </div>
            <div class="col s12 m8 l8">
                <div class="about-desc-wrapper z-depth-4">
                    <h4 class="titledm">About Aditya</h4>shalini srivastava
                    <p>I am Shalini, the COO (Chief Operating Officer) of eGurjan Academy - Physius.</p>
                    <p>It was due to the pioneering idea of her which led to the discussions for an online platform for local student in gaming style, and eventually led to the idea of starting eGurjan Academy.</p>
                    <br></br>
                    <div class="about-connect right">
                        <a href= "https://www.facebook.com/" class="ui circular facebook icon button">
                          <i class="facebook icon"></i>
                        </a>
                        <!--<button class="ui circular twitter icon button">
                          <i class="twitter icon"></i>
                        </button>
                        <button class="ui circular linkedin icon button">
                          <i class="linkedin icon"></i>
                        </button>
                        <button class="ui circular google plus icon button">
                          <i class="google plus icon"></i>
                        </button>-->
                    </div>
                    <br></br>
                </div>
            </div>
        </div>
    </div>
</div>
