<!--<div class"container">-->
<!--    <div class="jumbotron" id="headereg">-->
<!--    <h1 class="h1new">-->
<!--        Welcome to <span id="text-egurjan">eGurjan</span>-->
<!--    </h1>-->
<!--    <h2 class="h2dm">Find the perfect teacher, You'd like to study from.</h2>-->
<!--    <div class="center">-->
<!--    <div class="btn btn-lg btn-success">Find Gurus <i class="down arrow icon"></i></div>-->
<!--    <div class="btn btn-lg btn-warning">I'm Guru <i class="right arrow icon"></i></div>-->
<!--    </div>-->
<!--</div>-->
<!--</div>-->

<%= render 'shared/promo/explain' %>

<div id="promo-subscribe">
    <div class="row container-fluid">
        <div class="col s12 m4 l3">
            <h3 class="promo-header pull-right">Subscribe Now</h3>
        </div>
        <div class="col s12 m8 l9">
         <div class="row">
             
            <form action="http://egurjan.us13.list-manage.com/subscribe/post?u=5ae10d7684b7542c49973456a&amp;id=c9db747779" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                
            <div class="input-field col s12 m8 l9">
                <input id="email" type="email" class="validate" name="EMAIL" required>
                <label for="email" data-error="This doesn't seems like email" data-success="Looks good. Click the subscribe button.">Email</label>
            </div>
            <div class="col s12 m4 l3">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="ui huge inverted button">
            </div>
            
         </form>    
         </div>
            <p>*Subscribe now, and be updated to all updates the eGurjan get. Also receives free offer directly to your mail.</p>
        </div>
    </div>
</div>
