<div id="footer">
  <!--<a class="back-to-top" href="#">-->
  <!--  <i class="up arrow icon"></i>-->
  <!--</a>-->
  
  <div class="container">
    &copy; 2016 eGurjan Academy - Physius | eGurjan&trade; | All Rights Reserved.
    <p class="pull-right">
      <%= link_to "Disclaimer", root_path %> | 
      <%= link_to "Policy", root_path %> | 
      <%= link_to "Report", root_path %> | 
      <%= link_to "Jobs", root_path %>
    </p>
  </div>
</div>
