  <div class="ui container pre-footer-ad">
    <div class="hide-on-large-only">
      <%= image_tag("eg-footer-square-banner-1.gif", :title => "Get free vouchers on every teacher you find from eGurjan", :alt => "Get free vouchers on every teacher you find from eGurjan", :class => "img pre-footer-ad-bottom", :id => "ad-footer-2") %>
    </div>
    
    <div class="hide-on-med-and-down">
      <%= image_tag("eg-footer-banner-2.gif", :title => "Get free vouchers on every teacher you find from eGurjan", :alt => "Get free vouchers on every teacher you find from eGurjan", :class => "img pre-footer-ad-bottom", :id => "ad-footer-1")  %>
    </div>
    
  </div>