<div id="pre-footer">
    <div class="container">
<!--      <div class="row">
        
        <div class="col s12 m4 l2">
          <h4 class="pre-footer-heading">Info</h4>
          <% link_to "About", about_path %><br />
          <% link_to "FAQs", about_path %><br />
          <% link_to "How it Works", about_path %><br />
          <% link_to "Support", about_path %><br />
          <% link_to "Offers", about_path %><br />
        </div>
        
        <div class="col s12 m4 l2">
          <h4 class="pre-footer-heading">Search cities</h4>
          <% link_to "Jamshedpur", about_path %></br>
          <% link_to "New Delhi", about_path %></br>
          <% link_to "Kolkata", about_path %></br>
          <% link_to "Mumbai", about_path %></br>
          <% link_to "Bangalore", about_path %></br>
          <% link_to "Bhubaneshwar", contact_path %></br>
          <% link_to "Jaipur", contact_path %></br>
          <% link_to " More + ", contact_path %>
        </div>

        <div class="col s12 m4 l2">
          <h4 class="pre-footer-heading">Search subjects</h4>
          <% link_to "Mathematics", about_path %><br />
          <% link_to "Physics", about_path %><br />
          <% link_to "Chemistry", about_path %><br />
          <% link_to "Computer Applications", about_path %><br />
          <% link_to "Sanskrit", contact_path %><br />
          <% link_to "Arts & Crafts", contact_path %><br />
          <% link_to " More + ", contact_path %>
        </div>        
        
        <div class="col s12 m4 l2">
          <h4 class="pre-footer-heading">Search classes</h4>
          <% link_to "Grade 4 and below", about_path %><br />
          <% link_to "Grade 5 to 9", about_path %><br />
          <% link_to "Grade 10, 11 & 12", about_path %><br />
          <% link_to "College", contact_path %><br />
          <% link_to "IIT-JEE prep", contact_path %><br />
          <% link_to "Banking prep", contact_path %><br />
          <% link_to " More + ", contact_path %>
        </div>   
        
        <div class="col s12 m4 l2">
          <h4 class="pre-footer-heading">Search tutors</h4>
          <% link_to "Home Group Tuition", about_path %><br />
          <% link_to "Private Tuitions", about_path %><br />
          <% link_to "Coaching Classes", about_path %><br />
          <% link_to "Coaching Institutes", about_path %><br />
          <% link_to "Local Tuitions", about_path %><br />
          <% link_to "Crash Courses", about_path %><br />
          <% link_to "More +", contact_path %>
        </div>         

        <div class="col s12 m4 l2">
          <h4 class="pre-footer-heading">I am</h4>
          <% link_to "Parent", about_path %><br />
          <% link_to "Teacher", about_path %><br />
          <% link_to "Student", about_path %><br />
          <% link_to "School Authority", about_path %><br />
          <% link_to "Institute Authority", about_path %><br />
          <% link_to "Some one else", about_path %><br />
        </div>     
      
      
      </div> <!--Row Closed-->
      
       
      <div class="ui inverted divider"></div>
    -->
      
      <!--Promo Showcase Footer for Partners and Subscribe row-->
      <%= render 'shared/promo/promo_showcase_footer' %>
      
      <div class="ui inverted divider"></div>

      <!--Pre Footer Ads-->
      <% render 'shared/footer/pre_footer_ads' %>
      
      <div class="ui inverted divider"></div>
      
      <p class="text-center grey-text">
        **Please note that the video lectures in the 'Physius' courses provided in the site are a the copyrights of their respective authors. We had never intended to sell these videos anywhere, we are using the copyrighted images, videos and games for educational purpose only.
        </br>We <i class="heart icon"></i> making things easy for the students, and we know that every students loves a game. Hence, we are taking an initiative to not only make the things easy but also make the things fun to play and learn.
      </p>
       
       
       
       
       
    </div>  <!-- Pre Footer Container  -->
</div> <!-- Pre Footer -->
