<div class="promo-explain">
    <div class="row">
        <div class="col s12 m4 l4 text-center">
            <div class="promo-icon"><%= semantic_icon('users') %></div>
            <h4 class="promo-header">Find the best Quality video</h4>
            <p class="promo-text">
                We put our best effort in finding, validating and confirming the quality of every individual lecture topics. We give more priority to the <strong>Quality</strong>, because we know you deserve the best. 
            </p>
        </div>
        <div class="col s12 m4 l4 text-center">
            <div class="promo-icon"><%= semantic_icon('check circle') %></div>
            <h4 class="promo-header">Satisfaction Guarantee</h4>
            <p class="promo-text">
                We make sure that every student are satisfied and in order to make this possible, <strong>Learn while you play </strong> strategy.
            </p>
        </div>
        <div class="col s12 m4 l4 text-center">
            <div class="promo-icon"><%= semantic_icon('rupee') %></div>
            <h4 class="promo-header">No Charges</h4>
            <p class="promo-text">
                We Don't Charge anything to Our Students, morever we provide <strong>Free Gift Vouchers coupons</strong> on every <em>particular</em> prizes you unlock.
                </br>
            </p>
        </div>
    </div>
</div>