<div id="promo-contact">
    <div class="container promo-contact-container">
        <div class="row">
            <div class="col s12 m12 l7">
                <p id="promo-contact-text">
                    Call us at <a><i class="phone icon"></i>+91-906012389</a> or <a href="mailto:info@egurjan.com"><i class="mail icon"></i>mail to info@egurjan.com</a> for presonal guidance, or live chat from below.
                </p>
            </div>
            <div class="col s12 m12 l5">
                <div class="pull-right promo-contact-right">
                    <span class="hide-on-small-only">Get Connected: </span>
                    <!--</br>-->
                    
                    <a class="ui circular facebook icon button" href="http://www.facebook.com" title="Connect us on facebook" target="_blank">
                      <i class="facebook icon"></i>
                    </a>

                    <a class="ui circular twitter icon button" href="http://www.twitter.com" title="Connect us on twitter" target="_blank">
                      <i class="twitter icon"></i>
                    </a>

                    <a class="ui circular google plus icon button" href="http://www.google.com" title="Connect us on google plus" target="_blank">
                      <i class="google plus icon"></i>
                    </a>



                    
                </div>
            </div>
        </div>
    </div>
</div>